langchain
langchain-community
langchain-huggingface
langchain-experimental
langchain_google_genai
langchain-openai
langchain-chroma
chromadb
unstructured
sentence-transformers
nltk
spacy
pymupdf
PyPDF2
transformers
torch
streamlit
google-generativeai
faiss-cpu
